
//VARIABLES

//color
$color-principal-morado: #6700CE;
$color-complementario-azul: #004A82;
$color-complementario-naranjo: #FD684F;
$color-complementario-verde: #88BE55;
$color-blanco:#FFFFFF;
$color-negro:#000000;
$color-gris-claro: #F0F0F0;
$color-gris-oscuro:#484848;
$color-font-gris-claro:#7F7F7F;
$color-font-tachadas:#AFAFAF;
$color-font-gris-claro2:#707070;

//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Poppins:wght@700;800;900&display=swap');
$font-principal:'Montserrat', sans-serif;
$font-secundaria:'Open Sans', sans-serif;
$font-logo: 'Poppins', sans-serif;
$font-zise-7:7px;
$font-zise-8:8pt;
$font-zise-9:9pt;
$font-zise-11:11pt;
$font-zise-10:10pt;
$font-zise-12:12pt;
$font-zise-13:13pt;
$font-zise-15:15pt;
$font-zise-16:16pt;
$font-zise-18:18pt;
$font-zise-20:20pt;
$font-zise-24:24pt;
$font-zise-36:36pt;

//font-zise
$Font-weight-thin:100;
$Font-weight-extra-light:200;
$Font-weight-light:300;
$Font-weight-regular:400;
$Font-weight-medium:500;
$Font-weight-semi-bold:600;
$Font-weight-bold:700;
$Font-weight-extra-bold:800;
$Font-weight-black:900;

//estructura
$pading-general: 1% 8% 1% 8%;
$pading-footer:0 5% 0 5%;

